@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--tg-theme-bg-color, 0 0% 100%);
    --foreground: var(--tg-theme-text-color, 224 71.4% 4.1%);
    --card: var(--tg-theme-bg-color, 0 0% 100%);
    --card-foreground: var(--tg-theme-text-color, 224 71.4% 4.1%);
    --popover: var(--tg-theme-secondary-bg-color, 0 0% 100%);
    --popover-foreground: var(--tg-theme-text-color, 224 71.4% 4.1%);
    --primary: var(--tg-theme-button-color, 220.9 39.3% 11%);
    --primary-foreground: var(--tg-theme-button-text-color, 210 20% 98%);
    --secondary: var(--tg-theme-secondary-bg-color, 220 14.3% 95.9%);
    --secondary-foreground: var(--tg-theme-text-color, 220.9 39.3% 11%);
    --muted: var(--tg-theme-hint-color, 220 14.3% 95.9%);
    --muted-foreground: var(--tg-theme-hint-color, 220 8.9% 46.1%);
    --accent: var(--tg-theme-link-color, 220 14.3% 95.9%);
    --accent-foreground: var(--tg-theme-button-text-color, 220.9 39.3% 11%);
    --destructive: var(--tg-theme-destructive-color, 0 84.2% 60.2%);
    --destructive-foreground: var(--tg-theme-button-text-color, 210 20% 98%);
    --border: var(--tg-theme-border-color, 220 13% 91%);
    --input: var(--tg-theme-input-bg-color, 220 13% 91%);
    --ring: var(--tg-theme-bg-color, 224 71.4% 4.1%);
    --radius: 0.5rem;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--tg-theme-bg-color, 224 71.4% 4.1%);
      --foreground: var(--tg-theme-text-color, 210 20% 98%);
      --card: var(--tg-theme-bg-color, 224 71.4% 4.1%);
      --card-foreground: var(--tg-theme-text-color, 210 20% 98%);
      --popover: var(--tg-theme-secondary-bg-color, 224 71.4% 4.1%);
      --popover-foreground: var(--tg-theme-text-color, 210 20% 98%);
      --primary: var(--tg-theme-button-color, 210 20% 98%);
      --primary-foreground: var(--tg-theme-button-text-color, 220.9 39.3% 11%);
      --secondary: var(--tg-theme-secondary-bg-color, 215 27.9% 16.9%);
      --secondary-foreground: var(--tg-theme-text-color, 210 20% 98%);
      --muted: var(--tg-theme-hint-color, 215 27.9% 16.9%);
      --muted-foreground: var(--tg-theme-hint-color, 217.9 10.6% 64.9%);
      --accent: var(--tg-theme-link-color, 215 27.9% 16.9%);
      --accent-foreground: var(--tg-theme-button-text-color, 210 20% 98%);
      --destructive: var(--tg-theme-destructive-color, 0 62.8% 30.6%);
      --destructive-foreground: var(--tg-theme-button-text-color, 210 20% 98%);
      --border: var(--tg-theme-border-color, 215 27.9% 16.9%);
      --input: var(--tg-theme-input-bg-color, 215 27.9% 16.9%);
      --ring: var(--tg-theme-bg-color, 216 12.2% 83.9%);
    }
  } */

  body {
    @apply bg-background text-foreground;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    text-rendering: optimizeLegibility;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  html {
    height: 100%;
  }

  /* Apply a 3-point purple gradient to all h1 headers */
  h1 {
    background: linear-gradient(45deg, #8e2de2, #4a00e0, #9c27b0); /* Define the gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text color transparent */
    background-clip: text; /* For non-webkit browsers */
    text-fill-color: transparent; /* For non-webkit browsers */
    animation: slide-in-left 1s ease-out; /* Apply the slide-in animation */
  }

  /* Define the slide-in animation */
  @keyframes slide-in-left {
    from {
      transform: translateX(-69%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .gradient-text {
    background: linear-gradient(45deg, #ff6f61, #d4a5a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradient-icon {
    background: linear-gradient(45deg, #ff6f61, #d4a5a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
  .main-content {
    min-height: calc(100vh - 128px); /* Adjust based on header and footer height */
    padding-top: 64px; /* Header height */
    padding-bottom: 64px; /* Footer height */
    backdrop-filter: blur(10px);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(24, 24, 24, 0.8) 100%);
  }

  header, footer {
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    background-color: hsl(var(--background) / 0.8); /* Slightly transparent background */
    backdrop-filter: blur(10px);
  }

  * {
    @apply border-border;
  }

  /* Loading spinner */
  .loader {
    border-top-color: hsl(var(--primary)); /* Spinner's color */
  }

  .neon-glow {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.13),
                0 0 16px rgba(136, 255, 0, 0.322),
                0 0 24px rgba(132, 0, 255, 0.007);
  }
}
